<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo_suite" verbose="5"  preserve-order="true">
  <test name="General_test" >
  	<classes>
      <class name="testclasses.Search_And_Open_Movie_Detail_Page"/>
	  <class name="testclasses.Rate_Unrated_Movie"/>
    </classes>
 </test>
</suite>