<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo_suite" verbose="2"  preserve-order="true">
  <test name="General_test" >
  	<classes>
      <class name="testclasses.Create_New_Account_And_Login"/>
      <class name="testclasses.Search_And_Open_Movie_Detail_Page"/>
      <class name="testclasses.Compare_Movies_By_Rating"/>
      <class name="testclasses.New_Movies_In_Theatre"/>
      <class name="testclasses.Play_Movie_Trailer"/>
      <class name="testclasses.Browse_Celebrity_Photos"/>
    </classes>
 </test>
</suite>